*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 767px) {
    // font-size: calc(100vw / 750 * 10);
  }
}

body {
  font-family: $font-sauce;
  background-color: $primary-col;
  color: $secondary-col;
  overflow: hidden;
}

img {
  width: 100%;
}
